(
H,
a,
g,
k,
m,
n,
p,
"a-sinh",
"aa-sinh",
"aae-sinh",
"ae-sinh",
"ai-sinh",
"au-sinh",
"ba-sinh",
"bha-sinh",
"ca-sinh",
"cha-sinh",
"da-sinh",
"dda-sinh",
"ddha-sinh",
"dha-sinh",
"e-sinh",
"ee-sinh",
"fa-sinh",
"ga-sinh",
"gha-sinh",
"ha-sinh",
"i-sinh",
"ii-sinh",
"ja-sinh",
"jha-sinh",
"jnya-sinh",
"ka-sinh",
"kha-sinh",
"la-sinh",
"lla-sinh",
"ma-sinh",
"mba-sinh",
"na-sinh",
"nda-sinh",
"nyja-sinh",
"nga-sinh",
"nna-sinh",
"nndda-sinh",
"nnga-sinh",
"nya-sinh",
"o-sinh",
"oo-sinh",
"pa-sinh",
"pha-sinh",
"ra-sinh",
"sa-sinh",
"sha-sinh",
"ssa-sinh",
"ta-sinh",
"tha-sinh",
"tta-sinh",
"ttha-sinh",
"u-sinh",
"uu-sinh",
"va-sinh",
"ya-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
tmKa,
tmTa,
ArchaicOne,
ArchaicTwo,
ArchaicThree,
ArchaicFour,
ArchaicFive,
ArchaicSix,
ArchaicSeven,
ArchaicEight,
ArchaicNine,
ArchaicTen,
ArchaicTwenty,
ArchaicThirty,
ArchaicForty,
ArchaicFifty,
ArchaicSixty,
ArchaicSeventy,
ArchaicEighty,
ArchaicNinety,
ArchaicHundred,
ArchaicThousand,
LithZero,
LithOne,
LithTwo,
LithThree,
LithFour,
LithFive,
LithSix,
LithSeven,
LithEight,
LithNine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
zwnj,
zerowidthjoiner,
CR,
NULL,
kunddaliya.alt,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
asterisk,
numbersign,
slash,
backslash,
hyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedbl,
quotesingle,
bar,
plus,
equal,
greater,
less,
asciitilde,
asciicircum,
dottedcircle,
"isign-sinh",
"iisign-sinh",
"usign-sinh",
"uusign-sinh",
"virama-sinh",
anusvara,
"aasign-sinh",
"aaesign-sinh",
"aesign-sinh",
"aisign-sinh",
"ausign-sinh",
"esign-sinh",
"eesign-sinh",
"vocaliclsign-sinh",
"vocalicllsign-sinh",
"osign-sinh",
"oosign-sinh",
"vocalicrsign-sinh",
"vocalicrrsign-sinh",
visarga,
notdef,
null,
"anusvaraya-sinh",
"bI-sinh",
"bIi-sinh",
"bRI-sinh",
"bRIi-sinh",
"bRa-sinh",
"bU-sinh",
"bUu-sinh",
"bhAa-sinh",
"bhI-sinh",
"bhIi-sinh",
"bhRI-sinh",
"bhRIi-sinh",
"bhRa-sinh",
"bhU-sinh",
"bhUu-sinh",
"cI-sinh",
"cIi-sinh",
"cRI-sinh",
"cRIi-sinh",
"cRa-sinh",
"cU-sinh",
"cUu-sinh",
"chI-sinh",
"chIi-sinh",
"chRI-sinh",
"chRIi-sinh",
"chRa-sinh",
"chU-sinh",
"chUu-sinh",
"dDhI-sinh",
"dDhIi-sinh",
"dDhU-sinh",
"dDhUu-sinh",
"dDha-sinh",
"dI-sinh",
"dIi-sinh",
"dRI-sinh",
"dRIi-sinh",
"dRa-sinh",
"dU-sinh",
"dUu-sinh",
"dVI-sinh",
"dVIi-sinh",
"dVU-sinh",
"dVUu-sinh",
"dVa-sinh",
"ddI-sinh",
"ddIi-sinh",
"ddRI-sinh",
"ddRIi-sinh",
"ddRa-sinh",
"ddU-sinh",
"ddUu-sinh",
"ddhI-sinh",
"ddhIi-sinh",
"ddhRI-sinh",
"ddhRIi-sinh",
"ddhRa-sinh",
"ddhU-sinh",
"ddhUu-sinh",
"dhI-sinh",
"dhIi-sinh",
"dhRI-sinh",
"dhRIi-sinh",
"dhRa-sinh",
"dhU-sinh",
"dhUu-sinh",
"drI-sinh",
"drIi-sinh",
"dra-sinh",
"dvocalicr._c-sinh",
"dvocalicrr._c-sinh",
"fAa-sinh",
"fI-sinh",
"fIi-sinh",
"fRI-sinh",
"fRIi-sinh",
"fRa-sinh",
"fU-sinh",
"fUu-sinh",
"gAa-sinh",
"gDha-sinh",
"gI-sinh",
"gIi-sinh",
"gRI-sinh",
"gRIi-sinh",
"gRa-sinh",
"gU-sinh",
"gUu-sinh",
"ghI-sinh",
"ghIi-sinh",
"ghRI-sinh",
"ghRIi-sinh",
"ghRa-sinh",
"ghU-sinh",
"ghUu-sinh",
"hAa-sinh",
"hI-sinh",
"hIi-sinh",
"hRI-sinh",
"hRIi-sinh",
"hRa-sinh",
"hU-sinh",
"hUu-sinh",
"jI-sinh",
"jIi-sinh",
"jRI-sinh",
"jRIi-sinh",
"jRa-sinh",
"jU-sinh",
"jUu-sinh",
"jhI-sinh",
"jhIi-sinh",
"jhRI-sinh",
"jhRIi-sinh",
"jhRa-sinh",
"jhU-sinh",
"jhUu-sinh",
"jnyI-sinh",
"jnyIi-sinh",
"jnyRI-sinh",
"jnyRIi-sinh",
"jnyRa-sinh",
"jnyU-sinh",
"jnyUu-sinh",
"kAa-sinh",
"kI-sinh",
"kIi-sinh",
"kRI-sinh",
"kRIi-sinh",
"kRa-sinh",
"kSsI-sinh",
"kSsIi-sinh",
"kSsU-sinh",
"kSsUu-sinh",
"kSsa-sinh",
"kU-sinh",
"kUu-sinh",
"kVI-sinh",
"kVIi-sinh",
"kVU-sinh",
"kVUu-sinh",
"kVa-sinh",
"khI-sinh",
"khIi-sinh",
"khRI-sinh",
"khRIi-sinh",
"khRa-sinh",
"khU-sinh",
"khUu-sinh",
kunddaliya,
"lI-sinh",
"lIi-sinh",
"lU-sinh",
"lUu-sinh",
"llI-sinh",
"llIi-sinh",
"llU-sinh",
"llUu-sinh",
"mI-sinh",
"mIi-sinh",
"mRI-sinh",
"mRIi-sinh",
"mRa-sinh",
"mU-sinh",
"mUu-sinh",
sinMatraAea,
"mb-sinh",
"mbI-sinh",
"mbIi-sinh",
"mbU-sinh",
"mbUu-sinh",
"nAa-sinh",
"nDI-sinh",
"nDIi-sinh",
"nDRI-sinh",
"nDRIi-sinh",
"nDRa-sinh",
"nDU-sinh",
"nDUu-sinh",
"nDa-sinh",
"nDhI-sinh",
"nDhIi-sinh",
"nDhU-sinh",
"nDhUu-sinh",
"nDha-sinh",
"nI-sinh",
"nIi-sinh",
"nThI-sinh",
"nThIi-sinh",
"nThU-sinh",
"nThUu-sinh",
"nTha-sinh",
"nU-sinh",
"nUu-sinh",
"nVI-sinh",
"nVIi-sinh",
"nVU-sinh",
"nVUu-sinh",
"nVa-sinh",
"ndI-sinh",
"ndIi-sinh",
"ndRa-sinh",
"ndU-sinh",
"ndUu-sinh",
"ndda-sinh",
"nyjI-sinh",
"nyjIi-sinh",
"nyjRa-sinh",
"nyjU-sinh",
"nyjUu-sinh",
"ngI-sinh",
"ngIi-sinh",
"ngU-sinh",
"ngUu-sinh",
"nnAa-sinh",
"nnI-sinh",
"nnIi-sinh",
"nnU-sinh",
"nnUu-sinh",
"nnddI-sinh",
"nnddIi-sinh",
"nnddU-sinh",
"nnddUu-sinh",
"nngAa-sinh",
"nngI-sinh",
"nngIi-sinh",
"nngU-sinh",
"nngUu-sinh",
"nyaa._c-sinh",
"nyI-sinh",
"nyIi-sinh",
"nyRI-sinh",
"nyRIi-sinh",
"nyRa-sinh",
"nyU-sinh",
"nyUu-sinh",
"pI-sinh",
"pIi-sinh",
"pRI-sinh",
"pRIi-sinh",
"pRa-sinh",
"pU-sinh",
"pUu-sinh",
"phI-sinh",
"phIi-sinh",
"phRI-sinh",
"phRIi-sinh",
"phRa-sinh",
"phU-sinh",
"phUu-sinh",
"rAae-sinh",
"rAe-sinh",
"rI-sinh",
"rIi-sinh",
"rU-sinh",
"rUu-sinh",
"rasign-sinh",
"repha-sinh",
"sI-sinh",
"sIi-sinh",
"sRI-sinh",
"sRIi-sinh",
"sRa-sinh",
"sU-sinh",
"sUu-sinh",
"shI-sinh",
"shIi-sinh",
"shRI-sinh",
"shRIi-sinh",
"shRa-sinh",
"shU-sinh",
"shUu-sinh",
"ssI-sinh",
"ssIi-sinh",
"ssRI-sinh",
"ssRIi-sinh",
"ssRa-sinh",
"ssU-sinh",
"ssUu-sinh",
"tAa-sinh",
"tI-sinh",
"tIi-sinh",
"tRI-sinh",
"tRIi-sinh",
"tRa-sinh",
"tThI-sinh",
"tThIi-sinh",
"tThU-sinh",
"tThUu-sinh",
"tTha-sinh",
"tU-sinh",
"tUu-sinh",
"tVI-sinh",
"tVIi-sinh",
"tVU-sinh",
"tVUu-sinh",
"tVa-sinh",
"thI-sinh",
"thIi-sinh",
"thRI-sinh",
"thRIi-sinh",
"thRa-sinh",
"thU-sinh",
"thUu-sinh",
"ttI-sinh",
"ttIi-sinh",
"ttRI-sinh",
"ttRIi-sinh",
"ttRa-sinh",
"ttTthI-sinh",
"ttTthIi-sinh",
"ttTthU-sinh",
"ttTthUu-sinh",
"ttTtha-sinh",
"ttU-sinh",
"ttUu-sinh",
"tthI-sinh",
"tthIi-sinh",
"tthRI-sinh",
"tthRIi-sinh",
"tthRa-sinh",
"tthU-sinh",
"tthUu-sinh",
"vI-sinh",
"vIi-sinh",
"vRI-sinh",
"vRIi-sinh",
"vRa-sinh",
"vU-sinh",
"vUu-sinh",
"visargaya-sinh",
"yI-sinh",
"yIi-sinh",
"yU-sinh",
"yUu-sinh",
"gNaa-sinh",
"b-sinh",
"bR-sinh",
"bU_repha-sinh",
"bUu_repha-sinh",
"ba_repha-sinh",
"bh-sinh",
sinBhAa.virama,
"bhR-sinh",
"bhR-sinh.alt",
"bhU_repha-sinh",
"bhUu_repha-sinh",
"bha_repha-sinh",
"c-sinh",
"cR-sinh",
"cU_repha-sinh",
"cUu_repha-sinh",
"ca_repha-sinh",
"ch-sinh",
"chR-sinh",
"chU_repha-sinh",
"chUu_repha-sinh",
"cha_repha-sinh",
"d-sinh",
"daa._c-sinh.ss01",
"daae._c-sinh.ss01",
"dae._c-sinh.ss01",
"dDdh-sinh",
"dR-sinh",
"dRa-sinh.alt",
"dU_repha-sinh",
"dUu_repha-sinh",
"dV-sinh",
"da_repha-sinh",
"dd-sinh",
"ddR-sinh",
"ddU_repha-sinh",
"ddUu_repha-sinh",
"dda_repha-sinh",
"dd-sinh.alt",
"ddh-sinh",
"ddhR-sinh",
"ddhU_repha-sinh",
"ddhUu_repha-sinh",
"ddha_repha-sinh",
"dh-sinh",
"dhR-sinh",
"dhU_repha-sinh",
"dhUu_repha-sinh",
"dha_repha-sinh",
"f-sinh",
sinFAa.virama,
"fR-sinh",
"fU_repha-sinh",
"fUu_repha-sinh",
"fa_repha-sinh",
"g-sinh",
sinGAa.virama,
"gR-sinh",
"gU_repha-sinh",
"gUu_repha-sinh",
"ga_repha-sinh",
"gh-sinh",
"ghR-sinh",
"ghU_repha-sinh",
"ghUu_repha-sinh",
"gha_repha-sinh",
"h-sinh",
sinHAa.virama,
"hR-sinh",
"hU_repha-sinh",
"hUu_repha-sinh",
"ha_repha-sinh",
"j-sinh",
"jR-sinh",
"jU_repha-sinh",
"jUu_repha-sinh",
"ja_repha-sinh",
"jh-sinh",
"jhR-sinh",
"jhU_repha-sinh",
"jhUu_repha-sinh",
"jha_repha-sinh",
"jny-sinh",
"jnyaa._c-sinh.ss01",
"jnyae._c-sinh.ss01",
sinJnyAee.ss01,
"jnyR-sinh",
"jnya_repha-sinh",
"k-sinh",
sinKAa.virama,
"kR-sinh",
"kSs-sinh",
"kU_repha-sinh",
"kUu_repha-sinh",
"kV-sinh",
"ka_repha-sinh",
"kh-sinh",
"khR-sinh",
"khU_repha-sinh",
"khUu_repha-sinh",
"kha_repha-sinh",
"l-sinh",
"ll-sinh",
"m-sinh",
"mR-sinh",
"ma_repha-sinh",
"aasign_virama-sinh",
"isign-sinh.alt",
"isign-sinh.alt1",
"isign-sinh.alt2",
"isign-sinh.alt4",
"iisign-sinh.alt",
"iisign-sinh.alt1",
"iisign-sinh.alt2",
"iisign-sinh.alt3",
"usign-sinh.alt",
"usign-sinh.alt1",
"usign-sinh.alt2",
"usign-sinh.alt3",
"usign-sinh.alt5",
"uusign-sinh.alt",
"uusign-sinh.alt1",
"uusign-sinh.alt2",
"uusign-sinh.alt3",
"uusign-sinh.alt5",
"mb-sinh.alt",
"mba_repha-sinh",
"n-sinh",
sinNAa.virama,
"nD-sinh",
"nDaa._c-sinh.ss01",
"nDae._c-sinh.ss01",
sinNDAee.ss01,
"nDh-sinh",
"nTh-sinh",
"nV-sinh",
"na_repha-sinh",
"nd-sinh",
"ndaa._c-sinh.ss01",
"ndaae._c-sinh.ss01",
"ndae._c-sinh.ss01",
"nda_repha-sinh",
"nyj-sinh",
"nyjR-sinh",
"nyja_repha-sinh",
"ng-sinh",
"nga_repha-sinh",
"nn-sinh",
sinNnAa.virama,
"nna_repha-sinh",
"nndd-sinh",
"nndda_repha-sinh",
"nng-sinh",
sinNngAa.virama,
"nnga_repha-sinh",
"ny-sinh",
"nyaa._c-sinh.ss01",
"nyae._c-sinh.ss01",
sinNyAee.ss01,
"nyR-sinh",
"nya_repha-sinh",
"p-sinh",
"pR-sinh",
"pU_repha-sinh",
"pUu_repha-sinh",
"pa_repha-sinh",
"ph-sinh",
"phR-sinh",
"phU_repha-sinh",
"phUu_repha-sinh",
"pha_repha-sinh",
"r-sinh",
"rasign-sinh.long",
"rasign-sinh.medium",
"rasign-sinh.short",
"s-sinh",
"sR-sinh",
"sU_repha-sinh",
"sUu_repha-sinh",
"sa_repha-sinh",
"sh-sinh",
"shR-sinh",
"shU_repha-sinh",
"shUu_repha-sinh",
"sha_repha-sinh",
"ss-sinh",
"ssR-sinh",
"ssU_repha-sinh",
"ssUu_repha-sinh",
"ssa_repha-sinh",
"t-sinh",
sinTAa.virama,
"tR-sinh",
"tTh-sinh",
"tU_repha-sinh",
"tUu_repha-sinh",
"tV-sinh",
"ta_repha-sinh",
"th-sinh",
"thR-sinh",
"thU_repha-sinh",
"thUu_repha-sinh",
"tha_repha-sinh",
"tt-sinh",
"ttR-sinh",
"ttTth-sinh",
"ttU_repha-sinh",
"ttUu_repha-sinh",
"tta_repha-sinh",
"tth-sinh",
"tthR-sinh",
"tthU_repha-sinh",
"tthUu_repha-sinh",
"ttha_repha-sinh",
"v-sinh",
"vR-sinh",
"vU_repha-sinh",
"vUu_repha-sinh",
"va_repha-sinh",
"virama-sinh.alt",
"y-sinh",
"yasign_isign-sinh",
"yasign_iisign-sinh",
"yasign_usign-sinh",
"yU_repha-sinh",
"yasign_uusign-sinh",
"yUu_repha-sinh",
"yasign-sinh",
"ya_repha-sinh",
"daa_virama._c-sinh.ss01",
"dyaa._c-sinh.ss01",
sinDYOo.post.ss01,
"dyUu._c-sinh.ss01",
"dya._c-sinh.ss01",
"dyU._c-sinh.ss01",
"jnyaa_virama._c-sinh.ss01",
"nDaa_virama._c-sinh.ss01",
"ndaa_virama._c-sinh.ss01",
"nyaa_virama._c-sinh.ss01",
"yasign-sinh.alt",
"yasign_usign_repha-sinh",
"yasign_uusign_repha-sinh",
"yasign_repha-sinh",
sldf
)